<!-- ko if: isShowDiscount() -->
<div class="opcheckout-discount override">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form class="discount-form" id="discount-form">
        <div class="input-box">
            <label for="discount-code"><!-- ko text: $t('Enter coupon code here') --><!-- /ko --></label>
      <!--<input class="input-text" id="coupon_code_opcheckout" autocomplete="off" name="coupon_code" value="">-->
            <input class="input-text"
                   type="text"
                   id="discount-code-coupons"
                   name="coupon_code_space"
                   autocomplete="off"
                   data-validate="{'required-entry':true}"
                   data-bind="value: couponBlank"
                   required />
             <input class="input-text"
                    type="hidden"
                    id="discount-code"
                    name="coupon_code"
                    data-bind="value: validCoupon"/>
        </div>
        <div class="actions-button">

            <button id="add_coupon_code_button" class="action action-apply apply-coupon" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
            </button>

        </div>
    </form>
    <!-- ko if: validCoupon() -->
      <!-- ko foreach: { data: validCoupon().split(','), as: 'code' }  -->
          <div>
            <!--ko text: code--><!--/ko-->
            <a href="#" data-bind="click: function(data, event){$parent.cancelOne(data)},'value': code"><!-- ko text: $t('Remove')-->Remove<!-- /ko --></a>
          </div>
      <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
