<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="weight" type="Zehntech\SalesOrderView\Plugin\DefaultRendererPlugin" sortOrder="199"/>
    </type>

    <!-- Shipment pdfs -->

    <preference for="Magento\Sales\Model\Order\Pdf\Items\Shipment\DefaultShipment"
                type="Zehntech\SalesOrderView\Model\Order\Pdf\Items\Shipment\DefaultShipment"/>


    <preference for="Magento\Sales\Model\Order\Pdf\Shipment"
                type="Zehntech\SalesOrderView\Model\Order\Pdf\Shipment"/>


</config>
