<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- <type name="Rokanthemes\BestsellerProduct\Block\Bestseller">
		<plugin name="custom_category_product" type="Zehntech\ProductPrice\Plugin\CustomCollection" sortOrder="10"/>
	</type> -->
</config>